<div class="bg-white">
    <div>
        <a href="{{ product.url }}" class="flex items-center justify-center bg-gray-200 aspect-square rounded">
            <picture class="flex flex-grow">
                <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:1536px)" />
                <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:1280px)" />
                <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:1024px)" />
                <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:768px)" />
                <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:640px)" />
                <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:0px)" />
                <img src="{{ product.featured_image | image_url: width: 800 }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain rounded-t-md" />
            </picture>
        </a>
    </div>
    <div class="pt-2 pb-5">
        <div>
            <a href="{{ product.url }}" class="block">
                <span class="font-medium">{{ product.title }}</span>
            </a>
        </div>
        <div class="mt-1.5">
            <a href="{{ product.url }}" class="block">
                <span class="font-extrabold">{{ product.price | money_with_currency }}</span>
            </a>
        </div>
    </div>
</div>