<footer class="pb-6">
    <div class="bg-white border-t border-gray-400">
        <div class="mx-auto py-6 lg:py-4">
            <div class="flex flex-col gap-y-6 lg:flex-row items-center justify-center gap-x-4">
                <span class="text-sm font-bold uppercase text-gray-700 tracking-tight">Shop with Confidence</span>
                <div class="inline-flex justify-center gap-y-2 gap-x-2 flex-wrap">
                    {% for type in shop.enabled_payment_types -%}
                        {{ type | payment_type_svg_tag: class: 'h-8 w-auto' }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white border-t border-gray-400">
        <div class="px-4 sm:px-8 pt-16 pb-20">
            <div class="grid grid-cols-1 xl:grid-cols-3 gap-y-24 sm:gap-y-16 gap-x-48 sm:gap-x-16 xl:gap-x-24">
                <div>
                    <div>
                        <a href="{{ shop.url }}" class="text-2xl font-bold">KBDSHOP</a>
                    </div>
                    <div class="mt-4">
                        <span>To provide the finest selection of mechanical keyboards and accessories, with a dedication to delivering unparalleled quality and value.</span>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <a class="text-lg font-bold uppercase tracking-tight">Be the First to Know</a>
                        </div>
                        <div class="mt-4">
                            {% form 'customer' %}
                                <p>Sign up for our newsletter to receive the latest updates on our high-end mechanical keyboards, including limited edition releases, exclusive offers, and insider information.</p>
                                <div class="flex flex-col lg:flex-row gap-2 mt-6">
                                    <input type="email" name="contact[email]" placeholder="Enter your email" class="border border-gray-400 py-3 px-2 rounded-sm text-black text-sm xl:flex-grow" />
                                    <input role="button" type="submit" class="bg-black border border-black text-sm text-white font-medium uppercase px-8 py-3 rounded-sm text-center hover:bg-white hover:text-black" value="Subscribe" />
                                </div>
                            {% endform %}
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2">
                    <div>
                        <div>
                            <span class="text-lg font-bold uppercase tracking-tight">About</span>
                        </div>
                        <div class="mt-4">
                            <a href="{{ pages['about-kbdshop'].url }}" class="no-underline hover:underline" title="Shipping">About KBDSHOP</a>
                        </div>
                        <div class="mt-2">
                            <a href="{{ pages['contact'].url }}" class="no-underline hover:underline" title="Returns & Exchanges">Contact Us</a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <span class="text-lg font-bold uppercase tracking-tight">Company</span>
                        </div>
                        <div class="mt-4">
                            <a href="{{ shop.shipping_policy.url }}" class="no-underline hover:underline" title="Shipping">Shipping</a>
                        </div>
                        <div class="mt-2">
                            <a href="{{ shop.refund_policy.url }}" class="no-underline hover:underline" title="Returns & Exchanges">Returns & Exchanges</a>
                        </div>
                        <div class="mt-2">
                            <a href="{{ shop.privacy_policy.url }}" class="no-underline hover:underline" title="Privacy Policy">Privacy Policy</a>
                        </div>
                        <div class="mt-2">
                            <a href="{{ shop.terms_of_service.url }}" class="no-underline hover:underline" title="Terms of Service">Terms of Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="px-4 sm:px-8 mx-auto py-4 sm:py-2">
            <div class="flex flex-col gap-y-4 lg:flex-row justify-between items-center">
                <div class="order-last lg:order-first text-xs uppercase">
                    <a href="https://msmtech.ca">A solution by msmtech_</a>
                    <div class="font-semibold">{{ powered_by_link | prepend: 'Proudly ' }}</span> - <span class="block sm:inline">&copy; Copyright {{ 'now' | date: "%Y" }} {{ 'kbdshop.ca' | link_to: routes.root_url }}</div>
                </div>
                <div id="footer" data-secure-action role="button" class="w-full order-first lg:order-last sm:w-fit text-xs text-black font-semibold flex justify-center items-center gap-x-2 bg-green-400 py-2 px-8 rounded-sm select-none hover:bg-green-300 active:bg-green-500 border border-gray-500">{% render 'icon-secure', class: 'h-4 w-auto fill-black' %} <span>SSL ENCRYPTED | SECURE PAYMENTS</span></div>
            </div>
        </div>
    </div>
</footer>
<div id="secure-popover" class="hidden bg-white rounded-md relative z-40" role="tooltip">
    <div data-secure-close role="button" class="absolute top-4 right-4">
        {% render 'icon-close', class: 'h-4 w-auto fill-black' %}
    </div>
    <div class="container mx-auto pt-6 pb-8">
        <div class="text-center text-black">
            <div class="flex items-center justify-center gap-x-2">{% render 'icon-success', class: 'h-8 w-auto fill-green-400', fill: '#428445' %} <span class="font-bold text-2xl">Site is Secure</span></div>
        </div>
        <div class="mt-6">
            <picture>
                <img width="300" height="150" src="{{ 'ssl-secure-1.png' | asset_url }}" loading="lazy" />
            </picture>
        </div>
        <div class="mt-8 text-center">
            <a href="https://www.ssllabs.com/ssltest/analyze.html?d=kbdshop.ca&latest" target="_blank" class="text-white bg-green-500 py-2 px-3 rounded-sm select-none hover:bg-green-400 active:bg-green-600">Verify Security</a>
        </div>
    </div>
</div>