<div class="mt-40 max-w-screen-lg mx-auto">
    <div class="text-center text-7xl font-bold">Discover the Majestouch 3</div>
    <div class="mt-12">
        {% assign image = 'product-showcase-1.png' %}
        <picture>
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
            <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain" />
        </picture>
    </div>
    <div class="mt-12">
        <div class="pb-4 border-b border-gray-400">
            <div class="text-2xl font-bold ">Precision, durability, and style in one sleek package</div>
        </div>
        <div class="mt-8 text-6xl font-bold">Elevate your typing experience.</div>
        <div class="mt-8 text-lg w-11/12">Introducing the Majestouch 3 Tenkeyless keyboard - the ultimate typing experience, now with all-new features that enhance your productivity and elevate your desktop aesthetics. With Cherry MX Switches, a minimalist design, and a durable build, the Majestouch 3 is built to last and elevate your typing experience.</div>
    </div>
    <div class="mt-24 grid grid-cols-12 gap-8">
        <div class="col-span-7">
            {% assign image = 'product-showcase-2.jpg' %}
            <picture>
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
                <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover" />
            </picture>
        </div>
        <div class="col-span-5">
            <div class="pt-2 border-t border-gray-400">
                <div class="text-xl font-bold">Ultimate typing experience</div>
                <div class="mt-4">Engineered with CHERRY MX switches and full Nkey rollover support, each keystroke delivers exceptional precision and speed. The keyboard's sleek, matte black finish and FILCO original font design make it a stunning addition to any workspace.</div>
            </div>
            <div class="mt-12 pt-2 border-t border-gray-400">
                <div class="text-xl font-bold">Unmatched durability</div>
                <div class="mt-4">The Majestouch 3 Tenkeyless keyboard comes with new PBT double-shot keycaps that offer unmatched durability. The FILCO original font design and legends will never fade, ensuring that the keyboard looks and feels brand new, even after prolonged use.</div>
            </div>
        </div>
    </div>
    <div class="mt-24 text-center text-5xl font-bold">Pure typing pleasure with Cherry MX</div>
    <div class="mt-12">
        <div class="w-6/12 mx-auto">
            {% assign image = 'product-showcase-3.gif' %}
            <picture>
                <img src="{{ image | asset_img_url: 'original' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover" />
            </picture>
            <div class="text-xs text-center italic">Image credit: cherrymx.de</div>
        </div>
        <div class="mt-12 pt-6 border-t border-gray-400">
            <div class="grid grid-cols-12">
                <div class="col-span-5">
                    <div class="text-2xl font-bold ">Make every keystroke count.</div>
                </div>
                <div class="col-span-7">
                    <div>Introducing the ultimate typing experience with the Majestouch 3. Featuring the highly acclaimed CHERRY MX switches, each keystroke feels effortless and precise, providing an unrivaled tactile feedback that is second to none.</div>
                </div>
            </div>
        </div>
        <div class="mt-24 pt-6 border-t border-gray-400">
            <div class="grid grid-cols-12">
                <div class="col-span-5">
                    <div class="text-2xl font-bold ">Upgrade your typing game.</div>
                </div>
                <div class="col-span-7">
                    <div>Whether you're a gamer or a typist, the CHERRY MX switches offer a smooth and tactile feel that will elevate your performance to the next level. Designed with precision and built to last, the Majestouch 3 with CHERRY MX switches is the ultimate keyboard for the discerning user who demands the very best.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-24">
        <div class="w-4/12 mx-auto">
            <div class="relative">
                {% assign image = 'product-showcase-4.png' %}
                <picture>
                    <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
                    <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
                    <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
                    <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
                    <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
                    <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
                    <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover" />
                </picture>
                <div role="button" data-cherry-tab-action="0" class="top-[11%] left-[22%] absolute select-none text-xs h-8 w-8 bg-white text-black border border-black hover:bg-white hover:text-black rounded-full p-2 flex items-center justify-center">
                    <span>1</span>
                </div>
                <div role="button" data-cherry-tab-action="1" class="top-[30%] right-[29%] absolute select-none text-xs h-8 w-8 bg-black text-white border border-black hover:bg-white hover:text-black rounded-full p-2 flex items-center justify-center">
                    <span>2</span>
                </div>
                <div role="button" data-cherry-tab-action="2" class="top-[46%] left-[26%] absolute select-none text-xs h-8 w-8 bg-black text-white border border-black hover:bg-white hover:text-black rounded-full p-2 flex items-center justify-center">
                    <span>3</span>
                </div>
                <div role="button" data-cherry-tab-action="3" class="top-[60%] right-[37%] absolute select-none text-xs h-8 w-8 bg-black text-white border border-black hover:bg-white hover:text-black rounded-full p-2 flex items-center justify-center">
                    <span>4</span>
                </div>
                <div role="button" data-cherry-tab-action="4" class="top-[77%] left-[14%] absolute select-none text-xs h-8 w-8 bg-black text-white border border-black hover:bg-white hover:text-black rounded-full p-2 flex items-center justify-center">
                    <span>5</span>
                </div>
            </div>
            <div class="text-xs text-center italic">Image credit: cherrymx.de</div>
        </div>
        <div class="mt-12 pt-6 border-t border-gray-400">
            <div data-cherry-tab="0">
                <div class="grid grid-cols-12">
                    <div class="col-span-5">
                        <div class="text-2xl font-bold ">1. Upper housing</div>
                    </div>
                    <div class="col-span-7">
                        <div>Crafted with high-precision CAD technology, the upper housing is made of durable plastic polymer, ensuring accuracy of less than 0.01 millimeters. It guides the switch slider with precision while also holding the CHERRY-MX module's switching mechanism.</div>
                    </div>
                </div>
            </div>
            <div data-cherry-tab="1" class="hidden">
                <div class="grid grid-cols-12">
                    <div class="col-span-5">
                        <div class="text-2xl font-bold ">2. Switch slider</div>
                    </div>
                    <div class="col-span-7">
                        <div>Another high-precision CAD component made from version-specific polymer that, when combined with the housing upper part and the spring, creates resistance and tactile feedback, and onto which the keycap is mounted.</div>
                    </div>
                </div>
            </div>
            <div data-cherry-tab="2" class="hidden">
                <div class="grid grid-cols-12">
                    <div class="col-span-5">
                        <div class="text-2xl font-bold ">3. Gold crosspoint contacts</div>
                    </div>
                    <div class="col-span-7">
                        <div>The beating heart of every CHERRY MX module and the patented foundation of its incredible reliability and durability: Special triangle-shaped contacts meet each other in a precise cross and right angle. This world-renowned CHERRY innovation, along with the elaborate gold plating, makes the electrical contact self-cleaning and permanently corrosion-resistant, ensuring over 100 million guaranteed actuations.</div>
                    </div>
                </div>
            </div>
            <div data-cherry-tab="3" class="hidden">
                <div class="grid grid-cols-12">
                    <div class="col-span-5">
                        <div class="text-2xl font-bold ">4. Precision spiral spring</div>
                    </div>
                    <div class="col-span-7">
                        <div>The resistance of the CHERRY MX module is generated by a precision spiral spring. Made of a high-density metal alloy with a specific molecular structure, it is individually calculated for each module to provide consistent and optimized resistance. As a result, the pressure required to activate the switch is always the same, ensuring a reliable and precise typing experience.</div>
                    </div>
                </div>
            </div>
            <div data-cherry-tab="4" class="hidden">
                <div class="grid grid-cols-12">
                    <div class="col-span-5">
                        <div class="text-2xl font-bold ">5. Precision-crafted CHERRY MX housing</div>
                    </div>
                    <div class="col-span-7">
                        <div>Crafted with high-precision CAD technology, the housing of the CHERRY MX keyboard is a double-functional component made of a special polymer. At its core, it provides a secure and precise fit for the switch mechanism, ensuring unparalleled performance and durability. On the outside, it serves as a sturdy base for the mechanical keyboard's motherboard, delivering a stable foundation for peak performance.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-24 text-center text-5xl font-bold">Elegance meets function</div>
    <div class="mt-12">
        <div>
            {% assign image = 'product-showcase-5.jpg' %}
            <picture>
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
                <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain" />
            </picture>
        </div>
        <div class="mt-12 pt-6 border-t border-gray-400">
            <div class="grid grid-cols-12">
                <div class="col-span-5">
                    <div class="text-2xl font-bold ">The ultimate media companion</div>
                </div>
                <div class="col-span-7">
                    <div>Say goodbye to clunky media controls and hello to the sleek and intuitive media functions of Majestouch 3. With dedicated keys for play, pause, skip, and volume control, you can enjoy your media with ease and style.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-24">
        <div>
            {% assign image = 'product-showcase-6.jpg' %}
            <picture>
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
                <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain" />
            </picture>
        </div>
        <div class="mt-12 pt-6 border-t border-gray-400">
            <div class="grid grid-cols-12">
                <div class="col-span-5">
                    <div class="text-2xl font-bold ">Your perfect connection</div>
                </div>
                <div class="col-span-7">
                    <div>The high-quality USB/PS2 cable of the Majestouch 3 guarantees a reliable connection between your keyboard and computer. With its durable construction and stable transmission, it ensures a seamless typing experience every time you use it.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-24 text-center text-5xl font-bold">Experience the difference in quality</div>
    <div class="mt-12">
        <div>
            {% assign image = 'product-showcase-7.jpg' %}
            <picture>
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
                <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
                <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain" />
            </picture>
        </div>
        <div class="mt-12 pt-6 border-t border-gray-400">
            <div class="grid grid-cols-12">
                <div class="col-span-5">
                    <div class="text-2xl font-bold ">FILCO quality craftsmanship</div>
                </div>
                <div class="col-span-7">
                    <div>The Filco brand has a reputation for exceptional craftsmanship since 1992, using only the highest quality materials and manufacturing processes. Each Majestouch 3 keyboard is built to last, with a solid construction that can withstand even the most demanding use. From the carefully selected components to the attention to detail in every aspect of the design, the Filco name represents the pinnacle of keyboard excellence.</div>
                </div>
            </div>
        </div>
    </div>
</div>