{% render 'product.component.purchase-overlay' %}
<div class="px-4 sm:px-8 pt-6 pb-12 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-12 xl:gap-12">
        <div class="col-span-7">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for image in product.images %}
                            <li class="glide__slide">
                                <div class="flex items-center justify-center bg-gray-200 aspect-square rounded">
                                    <picture class="flex flex-grow">
                                        <source srcset="{{ image | image_url: width: 1154 }}" media="(min-width:1536px)" />
                                        <source srcset="{{ image | image_url: width: 1018 }}" media="(min-width:1280px)" />
                                        <source srcset="{{ image | image_url: width: 868 }}" media="(min-width:1024px)" />
                                        <source srcset="{{ image | image_url: width: 1152 }}" media="(min-width:768px)" />
                                        <source srcset="{{ image | image_url: width: 896 }}" media="(min-width:640px)" />
                                        <source srcset="{{ image | image_url: width: 768 }}" media="(min-width:0px)" />
                                        <img src="{{ image | image_url: width: 768 }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain rounded" />
                                    </picture>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mt-2 grid grid-cols-6 gap-2" data-glide-el="controls">
                    {% for image in product.images limit: 6 %}
                        <div role="button" data-glide-dir="={{ forloop.index0 }}">
                            <div class="flex items-center justify-center bg-gray-200 aspect-square rounded">
                                <picture class="flex flex-grow">
                                    <img src="{{ image | image_url: width: 196 }}" height="120" width="120" loading="lazy" class="w-full h-auto object-contain rounded" />
                                </picture>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-span-5">
            <div class="py-4 lg:py-12 mx-auto">
                <div class="inline-flex gap-2">
                    <div class="bg-black rounded-sm px-2 py-1 text-xs font-semibold text-white uppercase">{{ product.vendor }}</div>
                </div>
                <div class="text-3xl font-semibold mt-4">{{ product.title }}</div>
                {% if product.metafields.custom.product_short_description != blank %}
                    <div class="mt-6 lg:w-11/12">{{ product.metafields.custom.product_short_description }}</div>
                {% endif %}
                {% if product.has_only_default_variant == false %}
                    <div class="mt-4">
                        {% render 'product.section.variant-selector',
                            type: 'button'
                        %}
                    </div>
                {% endif %}
                <div class="mt-8">
                    <span class="font-medium">Availability:</span>
                    {% if product.available == true and product.metafields.custom.product_availability_date != blank %}
                        {% capture product_availability_text %}Ships {{ product.metafields.custom.product_availability_date | date: '%B %Y' }}{% endcapture %}
                        {% assign product_availability_class = ' bg-green-500' %}
                    {% elsif product.available == true and product.metafields.custom.product_availability_date == blank %}
                        {% capture product_availability_text %}In stock - Ships in 24 hours{% endcapture %}
                        {% assign product_availability_class = ' bg-green-500' %}
                    {% else %}
                        {% assign product_availability_text = 'Out of stock' %}
                        {% assign product_availability_class = ' bg-red-500' %}
                    {% endif %}
                    <span class="ml-2 rounded-sm px-4 py-1 font-medium text-xs text-black border border-gray-500 uppercase{{ product_availability_class }}">{{ product_availability_text }}</span>
                </div>
                <div class="mt-8 flex items-start gap-2">
                    <span data-product-display-price class="text-2xl font-bold">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
                    <span class="w-fit h-fit px-2 border border-green-700 font-medium text-center uppercase text-[10px] sm:text-xs text-green-700 bg-green-200 rounded-sm">Free Shipping over {{ 10000 | money_with_currency }}</span>
                </div>
                <div data-overlay-listen class="mt-4 w-full xl:w-1/2">
                    {% render 'product.component.add-cart-button',
                        button_text: 'Add to cart'
                    %}
                </div>
            </div>
            <div class="mx-auto">
                <div class="flex justify-around gap-x-4 text-center py-4 border-t border-gray-400 rounded-sm select-none">
                    {% assign product_tab_count = 0 %}
                    {% if product.metafields.custom.highlights.value != blank %}
                        <div role="button" data-product-tab-action="{{ product_tab_count }}"{% if product_tab_count == 0 %} class="font-bold"{% endif %}>Highlights</div>
                        {% assign product_tab_count = product_tab_count | plus: 1 %}
                    {% endif %}
                    <div role="button" data-product-tab-action="{{ product_tab_count }}"{% if product_tab_count == 0 %} class="font-bold"{% endif %}>Shipping & Returns</div>
                    {% assign product_tab_count = product_tab_count | plus: 1 %}
                    <div role="button" data-product-tab-action="{{ product_tab_count }}"{% if product_tab_count == 0 %} class="font-bold"{% endif %}>Warranty</div>
                </div>
                <div class="container mx-auto py-6">
                    {% assign product_tab_count = 0 %}
                    {% if product.metafields.custom.highlights.value != blank %}
                        <div data-product-tab="{{ product_tab_count }}"{% if product_tab_count != 0 %} class="hidden"{% endif %}>
                            <div class="text-lg font-semibold">Discover the Majestouch 3</div>
                            <ul class="ml-4 mt-4 list-disc leading-8">
                                {% for product_highlight in product.metafields.custom.highlights.value %}
                                    <li class="mt-2">{{ product_highlight }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% assign product_tab_count = product_tab_count | plus: 1 %}
                    {% endif %}
                    <div data-product-tab="{{ product_tab_count }}"{% if product_tab_count != 0 %} class="hidden"{% endif %}>
                        <div class="text-lg font-semibold">Shipping</div>
                        <ul class="mt-4 ml-4 list-disc leading-8">
                            <li>We offer free shipping via Canada Post Expedited Parcels orders over $100 CAD before tax within Canada.</li>
                            <li>No additional duties or fees are required upon delivery, as all orders are shipped from our warehouse in Canada.</li>
                        </ul>
                        <div class="text-lg font-semibold mt-4">Returns</div>
                        <ul class="mt-4 ml-4 list-disc leading-8">
                            <li>We stand behind the quality of our products and offer a 30-day, no-hassle return and exchange policy.</li>
                            <li>If you are not completely satisfied with your purchase, simply return it within 30 days for a full refund or exchange.</li>
                        </ul>
                    </div>
                    {% assign product_tab_count = product_tab_count | plus: 1 %}
                    <div data-product-tab="{{ product_tab_count }}"{% if product_tab_count != 0 %} class="hidden"{% endif %}>
                        <div class="text-lg font-semibold">Guaranteed Quality with Our Comprehensive Warranty</div>
                        <div class="mt-4">We are committed to providing our customers with top-quality products and outstanding service. Our Filco Majestouch 3 mechanical keyboard comes with a one-year limited warranty, which covers any defects in materials and workmanship.</div>
                        <div class="mt-4">If you encounter any issues with your keyboard within the warranty period, please contact our customer service team, and we will be happy to assist you with repair or replacement. Our team is dedicated to ensuring your satisfaction and making sure that your mechanical keyboard performs flawlessly for years to come.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if product.description != blank %}
        {% assign section_type = blank %}
        {% for tag in product.tags %}
            {% if tag contains "import_id" %}
                {% capture section_type %} data-section-type="phantom-cables"{% endcapture %}
                {% style %}
                    [data-section-type="phantom-cables"] img {
                        display: inline;
                        margin: 1rem 0;
                    }
                    [data-section-type="phantom-cables"] table {
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        width: 100%;
                    }
                    [data-section-type="phantom-cables"] table {
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        width: 100%;
                    }
                    [data-section-type="phantom-cables"] th,
                    [data-section-type="phantom-cables"] td {
                        padding: .25rem .5rem;
                    }
                    [data-section-type="phantom-cables"] tr {
                        border-top: #eceeee 1px solid;
                        border-bottom: #eceeee 1px solid;
                    }
                    [data-section-type="phantom-cables"] .rg-container {
                        display: inline-flex;
                        width: 100%;
                        flex-wrap: nowrap;
                        overflow-x: auto;
                    }
                    [data-section-type="phantom-cables"] h1,
                    [data-section-type="phantom-cables"] h2,
                    [data-section-type="phantom-cables"] h3,
                    [data-section-type="phantom-cables"] h4,
                    [data-section-type="phantom-cables"] h5,
                    [data-section-type="phantom-cables"] h6,
                    [data-section-type="phantom-cables"] p {
                        margin-bottom: 0.5rem;
                        width: 100%;
                    }
                {% endstyle %}
                {% break %}
            {% endif %}
        {% endfor %}
        <div class="mt-40 max-w-screen-lg mx-auto"{{ section_type }}>
            {{ product.description }}
        </div>
    {% endif %}
    {% if product.metafields.custom.product_overview_section == 'majestouch' %}
        <div>
            {% section 'product-showcase' %}
        </div>
    {% endif %}
</div>